<div class="adminPrintItem-container">
  <table>
    <tr>
      <th>Order ID</th>
      <th>Company ID</th>
      <th>Coustomer</th>
      <th>Payment method</th>
      <th>Total order price</th>
      <th>Movie ID</th>
    </tr>
    <tr>
      <td>
        {{ adminItem.id }}
      </td>
      <td>
        {{ adminItem.companyId }}
      </td>
      <td>
        {{ adminItem.createdBy }}
      </td>
      <td>
        {{ adminItem.paymentMethod }}
      </td>
      <td>
        {{ adminItem.totalPrice }}
      </td>
      <td>
        <div *ngFor="let orderRow of adminItem.orderRows">
          <p>{{ orderRow.productId }}</p>
        </div>
      </td>
    </tr>
  </table>
</div>
