@import "_mixins/colors";
@import "_mixins/_responsiveScreenSize";
@import "_mixins/typography";

.navbar-container {
  background-color: $navbarBg;
  display: flex;
  justify-content: space-between;
  .logo-container {
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      cursor: pointer;
      font-weight: 700;
      font-size: 2rem;
      color: $logoCol;
      padding: 0rem 1rem;
      font-family: $logoFont;
      @include desktopLargeXL {
        font-size: 3rem;
      }
    }
  }
  .navItems-container {
    ul {
      list-style-type: none;
      display: flex;
      li {
        padding: 1rem 1rem;
        @include verticalTablet {
          padding: 1rem 1.5rem;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .nav-item {
    .nav-link {
      text-decoration: none;
      color: $navitemsCol;
      font-size: 1.2rem;
      @include verticalTablet {
        font-size: 1.4rem;
      }
      @include desktop {
        font-size: 1.6rem;
      }
      @include desktopLarge {
        font-size: 1.9rem;
      }
    }
    .active {
      color: #bb4e36;
    }
  }
}
