@import "_mixins/typography";

.navbar-container {
  background-color: darkcyan;
  display: flex;
  justify-content: space-between;
  .logo-container {
    display: flex;
    align-items: center;
    h3 {
      color: black;
      padding: 0rem 1rem;
      font-family: $logoFont;
    }
  }
  .navItems-container {
    ul {
      list-style-type: none;
      display: flex;
      li {
        padding: 1rem 1.5rem;
      }
    }
  }
  .nav-item {
    .nav-link {
      text-decoration: none;
      color: black;
    }
    .active {
      color: #bb4e36;
    }
  }
}
