<div class="movieSpec-container">
  <div class="movieSpecConatiner-content">
    <img class="poster" [src]="movieItem.imageUrl" [alt]="movieItem.name" />

    <div class="movieSpecInfo-container">
      <div class="movieInfo">
        <h3>
          {{ movieItem.name }}
        </h3>

        <p>
          {{ movieItem.description }}
        </p>
        <p>Release Date : {{ movieItem.year }}</p>
        <button class="addTocartButton" (click)="handleAddToCart()">
          Add to cart
        </button>
      </div>
      <div class="backToHome-container">
        <button (click)="handleBackToHome()">Back to Home</button>
      </div>
    </div>
  </div>
</div>
